body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(to bottom, #027a9c, #008000);
  background-attachment: fixed;
  backgroung-size: cover;
  background-repeat: no-repeat;
  
  justify-content: center;
  align-items: center;
}

/* Applying Gradietn */
.gradient-box {
  width: 100%;
  max-width: 1100px;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  min-height: 200vh;
}
  
head {  
  color: white;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  color: white;
  font-family: sans-serif;
}

img {
  border-color: black;
  text-align: center;
}

a:hover{
    color:#000000;
}

.stroked-text {
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
}

.button {
  background-color: #000000;
  color: white;
  padding: 10px 30px;
  margin: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  background-color: #000000;  
}


.button:hover {
  background-color: #FFFFFF;
  transform: scale(1.1);
  border-color: #FFFFFF;
}

.button-container {
  margin: 10px 0;
}
